article{
    /* Card appearance */
    background-color: #8f6363; /* Card background color */
    border: 1px solid #b37c06; /* Border around the card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow to create a lifted card effect */
    border-radius: 8px; /* Rounded corners */
    

    /* Spacing */
    padding: 40px; /* Space inside the card */
    margin: 20px 0; /* Space outside the card */

    /* Layout */
    max-width: 400px; /* Maximum card width */

    flex-wrap: wrap; /* positioning */

}

  
.container {
    padding: 64px;
    margin-right: 40px;
    max-width: fit-content;
  }
  
  
  /* Add responsiveness - make the columns appear on top of each other instead of next to each other on small screens */
  @media screen and (max-width: 1000px) {
    .column-66,
    .column-33 {
      width: 100%;
      text-align: center;
    }
  }

  img:hover{
    transform: scale(1.4);
    flex-wrap: wrap;
  }

  /* CSS for the footer */
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #b37c06;
    color: black;
    text-align: center;
    padding: 5px;
  }